.DS_Store
.Rhistory
.Rproj.user/
data/
Muscle_gene_summary_includeMF.xlsx
annotationpkg.xlsx
*.Rproj
QCreportM/
QCreportF/
*.html
*.RData
fastq
fastq_Riboseq
fastq_Rnaseq
fastp
fastqc
star
star_rRnarm
command
*.fastq.gz
*.bam
*.fastq
*bam*
